<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="/public/stylesheets/index.styl")
    title Document
  body
    h1 Hello world from HTML!
    .css
    h1#js
    #app
    script(src="/public/scripts/index.js")