@import 'variables.styl'

body
  margin: 0
  padding: 0
  background: #3e7690
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  overflow: hidden

.app
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

.background
  position: absolute
  height: 100%
  width: 100%
  background-color: $gray900
  background-size: cover
  background-position: center
  filter: blur(1em) brightness(0.7) saturate(1.3)
  transform: scale(1.2)
  overflow: hidden
  z-index: 0
  animation: move 60s ease-in-out infinite alternate
  &--gradient
    filter: blur(0.5em) brightness(0.9) saturate(4)
    transform: scale(1.1)
    transition: opacity 500ms
    // animation: rotate 20s linear infinite
  &--opaque
    opacity: 0.5

@keyframes rotate
  0%
    transform: rotate(0deg) scale(2.2)
  100%
    transform: rotate(360deg) scale(2.2)

@keyframes move
  0%
    background-position: 50% 40%
  100%
    background-position: 50% 60%

.display
  display: grid
  grid-template-rows: repeat(12, 4em)
  grid-template-columns: repeat(20, 4em)
  grid-gap: 1em
  color: white
  z-index: 1
  &__album-cover
    background: black
    grid-row: 3 / 11
    grid-column: 1 / 9
    border-radius: 1em
    background-size: cover
    background-position: center
    box-shadow: 0 4em 8em rgba(0, 0, 0, 0.2),
                0 1em 2em rgba(0, 0, 0, 0.5),
                inset 0 0 0.5em rgba(0, 0, 0, 0.5)
  &__info
    grid-row: 3 / 11
    grid-column: 11 / -1
    display: flex
    flex-direction: column
    justify-content: center
    h1
      margin: 0
      padding: 0
      // Title can mess with making the info aligned properly
      margin-top: -0.125em
      padding-bottom: 0.25em
      font-size: 6em
      font-family: "Barlow Condensed", sans-serif
      font-weight: bold
      line-height: 1
    h2
      margin: 0
      padding: 0.25em 0
      font-size: 4em
      font-family: "Barlow Semi Condensed", sans-serif
      font-weight: 400
      opacity: 0.9
    h3
      margin: 0
      padding: 0
      padding-top: 0.25em
      font-size: 3em
      font-family: "Barlow Semi Condensed", sans-serif
      font-weight: 400
      opacity: 0.9


.status-view
  z-index: 1
  h1
    font-family: $mainFont
    font-size: 2em
    font-weight: 900
    line-height: 1.25
    color: $gray100
    letter-spacing: 0.125em
    text-transform: uppercase
  p
    margin-top: 1em
    font-family: $mainFont
    font-weight: normal
    font-size: 2em
    line-height: 1.25
    color: $gray200
    max-width: 15em
  a
    color: $purple400
  pre
    margin-top: 2em
    color: $gray200

@keyframes loading
  0%
    transform: scaleX(1)
  50%
    transform: scaleX(1.1)
  100%
    transform: scaleX(1)