@import 'variables.styl'

body
  margin: 0
  padding: 0
  background: $gray900
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  overflow: hidden

html, body
  height: 100vh

.app
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  background-color: $gray900

.background
  position: absolute
  top: 0
  left: 0
  height: 100vh
  width: 100%
  background-size: cover
  background-position: center
  // Allow enough contrast for the track info while keeping the color
  filter: brightness(0.5) saturate(1.5)
  transform: translateZ(0) scale(1.2)
  overflow: hidden
  z-index: 1
  opacity: 1
  will-change: transform opacity
  &--gradient
    // Gradients are a bit too dull, so we improvise.
    filter: brightness(0.7) saturate(4)
    transform: translateZ(0)
  &--opaque
    opacity: 0.5

.transitions-disabled
  transition: none !important

.background.bg-transition
  &-enter-active, &-leave-active
    transition: all 4000ms ease-out 300ms, opacity 1000ms ease-out 300ms
  &-enter
    opacity: 0
    transform: translateZ(0) scale(1)
  &-leave-to
    opacity: 0
    transform: translateZ(0) scale(1)

.background.background--gradient.gradient-transition
  &-enter-active, &-leave-active
    transition: all 4000ms ease-out 300ms, opacity 1000ms ease-out 300ms
  &-enter
    opacity: 0 !important
  &-leave-to
    opacity: 0 !important

.cover-transition
  &-enter-active, &-leave-active
    transition: opacity 1000ms ease-out 50ms, transform 2000ms ease-out 50ms
  &-enter
    opacity: 0
  &-leave-to
    opacity: 0

.display__info .info-transition
  &-enter-active, &-leave-active
    transition: transform 1000ms cubic-bezier(0,1,0,1) 0ms
  &-leave-active
    transition: 0s
    display: none
  &-enter
    transform: translateY(0.5rem)

.display
  display: grid
  grid-template-rows: repeat(12, 3.25vw)
  grid-template-columns: repeat(20, 3.25vw)
  grid-gap: 1vw
  color: white
  z-index: 1
  &__album-cover
    background: black
    grid-row: 3 / 11
    grid-column: 1 / 9
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    box-shadow: 0 4em 8em rgba(0, 0, 0, 0.2),
                0 1em 2em rgba(0, 0, 0, 0.5)
    &--curved
      border-radius: 1em
  &__info
    grid-row: 3 / 11
    grid-column: 11 / -1
    display: flex
    flex-direction: column
    justify-content: center
    &--local
      grid-column: 1 / -1
      align-items: center
    h1, h2, h3
      transform: translateZ(0)
    h1
      margin: 0
      padding: 0
      max-height: 50vh // Hide super long song titles
      overflow: hidden
      // Title can mess with making the info aligned properly
      margin-top: -0.125em
      padding-bottom: 0.25em
      font-size: 6em
      font-family: "Barlow Condensed", sans-serif
      font-weight: bold
      line-height: 1
    h2
      margin: 0
      padding: 0.25em 0
      font-size: 4em
      font-family: "Barlow Semi Condensed", sans-serif
      font-weight: 400
      opacity: 0.9
    h3
      margin: 0
      padding: 0
      padding-top: 0.25em
      font-size: 3em
      font-family: "Barlow Semi Condensed", sans-serif
      font-weight: 400
      opacity: 0.9

.status-view
  z-index: 1
  padding: 1em
  h1
    font-family: $mainFont
    font-size: 2em
    font-weight: 900
    line-height: 1.25
    color: $gray100
    letter-spacing: 0.125em
    text-transform: uppercase
  p
    margin-top: 1em
    font-family: $mainFont
    font-weight: normal
    font-size: 2em
    line-height: 1.25
    color: $gray200
    max-width: 20em
  a
    color: $purple400
  pre
    max-width: 40em
    margin-top: 2em
    color: $gray200

@media screen and (max-width: 64em)
  .status-view
    h1
      font-size: 2em * 0.75
    p
      font-size: 2em * 0.75

.settings-button
  position: absolute
  margin: 2em
  padding: 1em
  border-radius: 1em
  bottom: 0
  right: 0
  background: $gray900
  z-index: 1
  display: flex
  align-items: center
  box-shadow: 0 4em 8em rgba(0, 0, 0, 0.2),
              0 1em 2em rgba(0, 0, 0, 0.5)
  cursor: pointer
  transition: background 100ms, transform 200ms ease-in-out
  -webkit-user-select: none
  user-select: none
  transform: translateY(10em)
  &--visible
    transform: translateY(0)
  &:hover
    background: $gray800
  img
    height: 2em
  span
    margin-left: 0.5em
    font-family: $mainFont
    font-size: 1.5em
    font-weight: 900
    line-height: 1.25
    color: $gray100
    letter-spacing: 0.125em
    text-transform: uppercase

.settings
  // font-size: 0.5em
  position: absolute
  padding: 2em
  top: 2em
  height: calc(100vh - 8em)
  max-width: 40em
  width: 100%
  background: $gray900
  color: $gray100
  border-radius: 1em
  z-index: 1
  box-shadow: 0 4em 8em rgba(0, 0, 0, 0.2),
              0 1em 2em rgba(0, 0, 0, 0.5)
  div.scroll
    margin-top: 1em
    height: calc(100vh - 12em)
    overflow-y: auto
  header.settings__header
    display: flex
    justify-content: space-between
    align-items: center
  h1
    display: flex
    align-items: center
    img
      height: 1.5em
    span
      margin-left: 0.25em
      font-family: $mainFont
      font-size: 1.5em
      font-weight: 900
      color: $gray100
      letter-spacing: 0.125em
      text-transform: uppercase
  div.settings__close-button
    padding: 0.5em 2em
    border-radius: 1em
    background: $gray700
    display: flex
    align-items: center
    cursor: pointer
    transition: background 100ms
    -webkit-user-select: none
    user-select: none
    &:hover
      background: $gray600
    img
      width: 2.5em
    span
      margin-left: 0.25em
      font-family: $mainFont
      font-size: 1.5em
      font-weight: 900
      color: $gray100
      letter-spacing: 0.125em
      text-transform: uppercase
  section.settings__setting
    margin-top: 2em
    h2
      margin-left: 0.325em
      margin-bottom: 1em
      font-family: $mainFont
      font-size: 1.5em
      font-weight: 900
      color: $gray100
      letter-spacing: 0.125em
      text-transform: uppercase
      a
        color: $purple300
    .settings__radio
      display: flex
      justify-content: space-between
      label.settings__radio-button
        position: relative
        box-sizing: border-box
        margin: 0 .5em
        display: block
        // width: 100%
        border-radius: 1em
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        cursor: pointer
        -webkit-user-select: none
        user-select: none
        &[for="spotify"]
          background: $spotifyGreen
        &[for="lastfm"]
          background: $lastfmRed
        input
          position: absolute
          clip-path: polygon(0 0)
        span.input-span
          position: absolute
          height: 100%
          width: 100%
          color: transparent
          &::after
            content: ''
            display: block
            position: absolute
            bottom: 0.75em
            right: 0.75em
            height: 1.5em
            width: 1.5em
            background-image: url('../images/radio-unchecked.svg')
            background-size: cover
        span.note
          margin-top: 0.5em
          font-family: $mainFont
          font-size: 1em
          font-weight: 900
          color: $gray100
          letter-spacing: 0.125em
          text-transform: uppercase
        & > input:checked + span.input-span
          box-shadow: inset 0 0 0 0.25em $gray100
          border-radius: 1em
        & > input:checked + span.input-span::after
          background-image: url('../images/radio-checked.svg')
        img
          height: 3em
        &--provider
          height: 7em
          width: 100%
        &--background
          flex: 0 calc(50% - 1em)
          height: 8em
          width: 8em
          margin-bottom: 4em
          background-size: cover
          background-position: center
          // flex-direction: column
          // background: none
          // text-decoration: none
          // color: inherit
          img
            height: 100%
            width: 100%
          span.description
            position: absolute
            bottom: -1.5em
            color: inherit
            margin-top: 0.5em
            font-family: "Barlow", sans-serif
            font-size: 1.5em
        &--inactive
          background: $gray900
          cursor: not-allowed
          opacity: 0.5
    label.settings__checkbox-toggle
      position: relative
      display: block
      margin-top: 1em
      input
        position: absolute
        clip-path: polygon(0 0)
      span
        cursor: pointer
        margin-left: 2em
        font-family: "Barlow", sans-serif
        font-size: 1.5em
        line-height: 1.25em
        &::after
          content: ''
          display: block
          position: absolute
          top: 0.125em
          left: 0.5em
          height: 1em
          width: 1em
          background-image: url('../images/checkbox-unchecked.svg')
          background-size: cover
      & > input:checked + span::after
        background-image: url('../images/checkbox-checked.svg')
      & > input[disabled="disabled"] + span
        opacity: 0.25
    label.settings__radio-button.settings__radio-button--inline
      position: relative
      display: block
      margin-top: 1em
      input
        position: absolute
        clip-path: polygon(0 0)
      span
        cursor: pointer
        margin-left: 2em
        font-family: "Barlow", sans-serif
        font-size: 1.5em
        &::after
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0.5em
          height: 1em
          width: 1em
          background-size: cover
          background-image: url('../images/radio-unchecked.svg')
      & > input:checked + span::after
        background-image: url('../images/radio-checked.svg')
    .settings__indent
      margin-left: 2em

@media screen and (max-width: 75em)
  .display__info
    h1
      font-size: 6em * 0.75
    h2
      font-size: 2em * 0.75
    h3
      font-size: 1.5em * 0.75
  .settings
    // font-size: 1em * 0.75
    top: 0
    height: 100%
    h1
      // flex-direction: column
      // align-items: flex-start
      font-size: 1.5em
    div.settings__close-button
      margin-right: 1em
    div.scroll
      height: calc(100vh - 8em)

@media screen and (max-width: 64em)
  .display__info
    h1
      font-size: 6em * 0.5
    h2
      font-size: 2em * 0.625
    h3
      font-size: 1.5em * 0.75

@media screen and (max-width: 48em)
  .display__info
    h1
      font-size: 6em * 0.25
    h2
      font-size: 2em * 0.5
    h3
      font-size: 1.5em * 0.75
  .settings
    // font-size: 1em * 0.5
    h1
      font-size: 1em
    div.settings__close-button
      span
        font-size: 1em
    .settings__radio
      flex-wrap: wrap