@import 'variables.styl'

body
  margin: 0
  padding: 0
  background: $gray200

.container
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

.homepage
  display: flex
  justify-content: center
  align-items: center
  section
    margin: 5.5em
    max-width: 44em
  section.logo
    img
      width: 100%
  section.text
    h2
      padding-bottom: 1em
      font-family: $mainFont
      font-weight: 500
      font-size: 2em
      line-height: 1.25
      color: $gray900
    h3
      margin: 0
      padding: 1em 0
      font-family: $mainFont
      font-size: 1.5em
      font-weight: 900
      line-height: 1.25
      color: $gray700
      letter-spacing: 0.125em
      text-transform: uppercase
    div.button-container
      display: flex
      justify-content: space-between
    div.lastfm-username-container
      background: $gray300
      padding: 2em
      box-sizing: border-box
      .row, form
        width: 100%
        display: flex
        justify-content: space-between
      h4
        font-family: $mainFont
        font-size: 1.5em
        font-weight: 900
        line-height: 1.25
        color: $gray900
        letter-spacing: 0.125em
        text-transform: uppercase
      input
        font-family: $mainFont
        font-size: 1.5em
        font-weight: 500
        line-height: 1.25
        color: $gray900
      input[type="text"]
        width: 100%
        margin-right: 2em
        padding: 0.5em
        background: $gray100
        border: none
        border-bottom: 0.125em solid $gray500
      input[type="submit"]
        background: $purple500
        border: 0
        padding: 1em
        height: 100%
        border-radius: 1em
        box-shadow: 0 0.25em 0.25em rgba($purple500, 0.5), 0 1em 1em rgba($purple500, 0.1)
        font-family: $mainFont
        font-size: 1.5em
        font-weight: 900
        line-height: 1.25
        color: $gray100
        letter-spacing: 0.125em
        text-transform: uppercase
    a.button
      display: flex
      justify-content: center
      align-items: center
      height: 9em
      width: 47.5%
      border-radius: 1em
      will-change: transform
      transition: 100ms
      transform: translateY(0)
      cursor: pointer
      &--spotify
        background: $spotifyGreen
        box-shadow: 0 0.25em 0.25em rgba($spotifyGreen, 0.5), 0 1em 1em rgba($spotifyGreen, 0.1)
        &:hover
          background: $spotifyGreenBrighter
          transform: translateY(-0.25em)
          box-shadow: 0 0.5em 0.5em rgba($spotifyGreenBrighter, 0.25), 0 1em 1em rgba($spotifyGreenBrighter, 0.1)
        &:active
          background: $spotifyGreenBrighter
          transform: translateY(0)
          box-shadow: 0 0 0 rgba($spotifyGreen, 0.25), 0 0 0 rgba($spotifyGreen, 0.1)
      &--lastfm
        background: $lastfmRed
        box-shadow: 0 0.25em 0.25em rgba($lastfmRed, 0.5), 0 1em 1em rgba($lastfmRed, 0.1)
        &:hover
          background: $lastfmRedBrighter
          transform: translateY(-0.25em)
          box-shadow: 0 0.5em 0.5em rgba($lastfmRedBrighter, 0.25), 0 1em 1em rgba($lastfmRedBrighter, 0.1)
        &:active
          background: $lastfmRedBrighter
          transform: translateY(0)
          box-shadow: 0 0 0 rgba($lastfmRed, 0.25), 0 0 0 rgba($lastfmRed, 0.1)
      img
        display: block
        width: 10em
    footer
      display: flex
      justify-content: center
      p
        margin-top: 1em
        font-family: $mainFont
        font-weight: normal
        font-size: 1.25em
        line-height: 1.25
        color: $gray800
        max-width: 22em
      a.logo
        padding-top: 1em
        display: block
        text-align: center

@media screen and (max-width: 75em)
  .container
    height: auto
  .homepage
    flex-direction: column
    section
      margin: 1em
    div.button-container
      flex-direction: column
      a.button
        margin: 1em 0
        width: 100%
    div.lastfm-username-container
      .row, form
        flex-direction: column