@import 'variables.styl'

body
  margin: 0
  padding: 0
  background: $gray200

.container
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

.homepage
  display: flex
  justify-content: center
  align-items: center
  section
    margin: 5.5em
    max-width: 44em
  section.logo
    img
      width: 100%
  section.text
    h2
      padding-bottom: 1em
      font-family: $mainFont
      font-weight: 500
      font-size: 2em
      line-height: 1.25
      color: $gray900
    h3
      margin: 0
      padding: 1em 0
      font-family: $mainFont
      font-size: 1.5em
      font-weight: 900
      line-height: 1.25
      color: $gray700
      letter-spacing: 0.125em
      text-transform: uppercase
    a.button
      display: flex
      justify-content: center
      align-items: center
      height: 9em
      width: 21.5em
      background: $spotifyGreen
      border-radius: 1em
      box-shadow: 0 0.25em 0.25em rgba($spotifyGreen, 0.5), 0 1em 1em rgba($spotifyGreen, 0.1)
      will-change: transform
      transition: 100ms
      transform: translateY(0)
      &:hover
        background: #2BD968
        transform: translateY(-0.25em)
        box-shadow: 0 0.5em 0.5em rgba($spotifyGreenBrighter, 0.25), 0 1em 1em rgba($spotifyGreenBrighter, 0.1)
      &:active
        background: #2BD968
        transform: translateY(0)
        box-shadow: 0 0 0 rgba($spotifyGreen, 0.25), 0 0 0 rgba($spotifyGreen, 0.1)
      img
        display: block
        height: 4em
    footer
      display: flex
      justify-content: space-between
      p
        margin-top: 1em
        font-family: $mainFont
        font-weight: normal
        font-size: 1.5em
        line-height: 1.25
        color: $gray800
        max-width: 22em
      a.logo
        padding-top: 1em
        display: block
        text-align: center

@media screen and (max-width: 75em)
  .container
    height: auto
  .homepage
    flex-direction: column
    section
      margin: 1em