transition(v-if="!isLocalTrack" name="bg-transition" :duration="4500")
    .background(:style="{'background-image': `url('${coverArtImageURI}')`}" :key="coverArtImageURI")
transition(name="gradient-transition" :duration="4500")
  .background.background--gradient(:style="{'background-image': `url('${gradientImageURI}')`, 'opacity': gradientOpacity}" :key="gradientImageURI")