transition(v-if="!isLocalTrack && settings.useTransitions" name="bg-transition" :duration="4500")
  .background(:style="{'background-image': `url('${coverArtImageURI}')` }" :key="coverArtImageURI")
transition(v-if="settings.useTransitions" name="gradient-transition" :duration="4500")
  .background.background--gradient(:style="{'background-image': `url('${gradientImageURI}')`, 'opacity': gradientOpacity}" :key="gradientImageURI")
.background(v-if="!settings.useTransitions" :style="{'background-image': `url('${coverArtImageURI}')` }" :key="coverArtImageURI")
.background.background--gradient(v-if="!settings.useTransitions" :style="{'background-image': `url('${gradientImageURI}')`, 'opacity': gradientOpacity}" :key="gradientImageURI")