.display(v-if="state === 'playing'")
  transition(name="cover-transition" :duration="4500")
    .display__album-cover(v-if="!isLocalTrack && settings.useTransitions" :style="{'background-image': `url('${coverArtImageURI}')`}" :class="{ 'display__album-cover--curved': settings.albumArtCurvedEdges }" :key="coverArtImageURI")
  .display__album-cover(v-if="!isLocalTrack && !settings.useTransitions" :style="{'background-image': `url('${coverArtImageURI}')`}" :class="{ 'display__album-cover--curved': settings.albumArtCurvedEdges }" :key="coverArtImageURI")
  .display__info(v-if="settings.useTransitions" :class="{ 'display__info--local': isLocalTrack }")
    transition(name="info-transition" :duration="1500")
      h1(:key="title") {{ title }}
    transition(name="info-transition" :duration="1500")
      h2(:key="album" v-if="shouldShowAlbumTitle") {{ album }}
    transition(name="info-transition" :duration="1500")
      h3(:key="artists") {{ artists }}
  .display__info(v-else :class="{ 'display__info--local': isLocalTrack }")
    h1(:key="title") {{ title }}
    h2(:key="album" v-if="shouldShowAlbumTitle") {{ album }}
    h3(:key="artists") {{ artists }}