.settings(v-show="settings.active")
  header.settings__header
    h1
      img(src="../images/twotone-settings-24px.svg")
      span Settings
    .settings__close-button(@click="toggleSettings")
      img(src="../images/twotone-close-24px.svg")
      span Close
  div.scroll
    section.settings__setting
      h2 Provider
      .settings__radio
        label(for="spotify" @click="reauthSpotify").settings__radio-button.settings__radio-button--provider
          input(type="radio" name="provider" value="spotify" id="spotify" checked)
          span.input-span Spotify
          img(src="../images/spotify-logo.svg")
          span.note Tap to Reset
        label(for="lastfm").settings__radio-button.settings__radio-button--provider.settings__radio-button--inactive
          input(type="radio" name="provider" value="lastfm" id="lastfm" disabled="disabled")
          span.input-span Last.fm
          img(src="../images/lastfm-logo.svg")
          span.note Coming Soon?
    section.settings__setting
      h2 Background
      .settings__radio
        label(for="albumart" style="background-image: url('../images/background-cover.svg')").settings__radio-button.settings__radio-button--background
          input(type="radio" name="background" v-model="settings.backgroundTypeIndex" v-bind:value="0" id="albumart" checked)
          span.input-span Album Art
          span.description Album Art
        label(for="gradient" style="background-image: url('../images/background-gradient.svg')").settings__radio-button.settings__radio-button--background
          input(type="radio" name="background" v-model="settings.backgroundTypeIndex" v-bind:value="1" id="gradient")
          span.input-span Gradient
          span.description Gradient
        label(for="both" style="background-image: url('../images/background-both.svg')").settings__radio-button.settings__radio-button--background
          input(type="radio" name="background" v-model="settings.backgroundTypeIndex" v-bind:value="2" id="both")
          span.input-span Both
          span.description Both
        label(for="solid" style="background-image: url('../images/background-solid.svg')").settings__radio-button.settings__radio-button--background
          input(type="radio" name="background" v-model="settings.backgroundTypeIndex" v-bind:value="3" id="solid")
          span.input-span Solid Color
          span.description Solid Color
    section.settings__setting
      h2 General
      label(for="trackTransitions").settings__checkbox-toggle
        input(type="checkbox" id="trackTransitions" v-model="settings.useTransitions")
        span Animate track transitions
      label(for="albumArtCurvedEdges").settings__checkbox-toggle
        input(type="checkbox" id="albumArtCurvedEdges" v-model="settings.albumArtCurvedEdges")
        span Curve album art edges
    section.settings__setting
      h2 Track Info
      label(for="always").settings__radio-button.settings__radio-button--inline
        input(type="radio" name="albumTitle" v-model="settings.albumTitle.show" v-bind:value="'always'" id="always")
        span Always show album title
      label(for="sometimes").settings__radio-button.settings__radio-button--inline
        input(type="radio" name="albumTitle" v-model="settings.albumTitle.show" v-bind:value="'sometimes'" id="sometimes")
        span Hide album title if
      .settings__indent
        label(for="hideIfSingle").settings__checkbox-toggle
          input(type="checkbox" id="hideIfSingle" v-model="settings.albumTitle.hideIfSingle" :disabled="settings.albumTitle.show !== 'sometimes'")
          span Track is from a single
        label(for="hideIfSelfTitled").settings__checkbox-toggle
          input(type="checkbox" id="hideIfSelfTitled" v-model="settings.albumTitle.hideIfSelfTitled" :disabled="settings.albumTitle.show !== 'sometimes'")
          span Track is from a self-titled album
        label(for="hideIfTitleHasSameNameAsAlbum").settings__checkbox-toggle
          input(type="checkbox" id="hideIfTitleHasSameNameAsAlbum" v-model="settings.albumTitle.hideIfTitleHasSameNameAsAlbum" :disabled="settings.albumTitle.show !== 'sometimes'")
          span Track has the same name as the album
      label(for="never").settings__radio-button.settings__radio-button--inline
        input(type="radio" name="albumTitle" v-model="settings.albumTitle.show" v-bind:value="'never'" id="never")
        span Always hide album title
    section.settings__setting
      h2 Reset