.settings(v-show="settings.active")
  header.settings__header
    h1
      img(src="../images/twotone-settings-24px.svg")
      span Settings
    .settings__close-button(@click="toggleSettings")
      img(src="../images/twotone-close-24px.svg")
      span Close
  div.scroll
    section.settings__setting
      h2 Provider
      .settings__radio
        label(for="spotify").settings__radio-button.settings__radio-button--provider
          input(type="radio" name="provider" value="spotify" id="spotify" checked)
          span.input-span Spotify
          img(src="../images/spotify-logo.svg")
        label(for="lastfm").settings__radio-button.settings__radio-button--provider
          input(type="radio" name="provider" value="lastfm" id="lastfm")
          span.input-span Last.fm
          img(src="../images/lastfm-logo.svg")
    section.settings__setting
      h2 Background
      .settings__radio
        label(for="albumart" style="background-image: url('../images/background-cover.svg')").settings__radio-button.settings__radio-button--background
          input(type="radio" name="background" value="albumart" id="albumart" checked)
          span.input-span Album Art
          span.description Album Art
        label(for="gradient" style="background-image: url('../images/background-gradient.svg')").settings__radio-button.settings__radio-button--background
          input(type="radio" name="background" value="gradient" id="gradient")
          span.input-span Gradient
          span.description Gradient
        label(for="both" style="background-image: url('../images/background-both.svg')").settings__radio-button.settings__radio-button--background
          input(type="radio" name="background" value="both" id="both")
          span.input-span Both
          span.description Both
        label(for="solid" style="background-image: url('../images/background-solid.svg')").settings__radio-button.settings__radio-button--background
          input(type="radio" name="background" value="solid" id="solid")
          span.input-span Solid Color
          span.description Solid Color
    section.settings__setting
      h2 Animations
      label(for="trackTransitions").settings__checkbox-toggle
        input(type="checkbox" id="trackTransitions")
        span Animate Track Transitions
    section.settings__setting
      h2 Track Info
    section.settings__setting
      h2 Reset